@media only screen and (min-width: 768px) {
  /* Small devices (tablets, 768px and up) */
}
@media only screen and (min-width: 992px) {
  /* Medium devices (desktops, 992px and up) */
}
@media only screen and (min-width: 1200px) {
  /* Large devices (large desktops, 1200px and up) */
}
/* line 31, ../sass/screen.scss */
body {
  font-family: 'Kalam', cursive;
}

/* line 35, ../sass/screen.scss */
#app-background-image {
  -webkit-backface-visibility: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
}
/* line 44, ../sass/screen.scss */
#app-background-image:before, #app-background-image:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 54, ../sass/screen.scss */
#app-background-image:before {
  background-size: auto, 256px 256px;
  background-position: center, center;
  background-repeat: no-repeat, repeat;
  z-index: 2;
}
/* line 61, ../sass/screen.scss */
#app-background-image:after {
  background-image: url("../../images/e6hjqab7uea-dan-gold.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
}

/* line 70, ../sass/screen.scss */
.container-fluid {
  height: 100vh;
  position: relative;
}

/* line 75, ../sass/screen.scss */
.app-container {
  z-index: 3;
  background-color: rgba(35, 35, 40, 0.923);
  padding: 25px;
  top: 50%;
  transform: translateY(-50%);
  height: 300px;
}
@media only screen and (min-width: 768px) {
  /* line 75, ../sass/screen.scss */
  .app-container {
    padding: 35px;
  }
}

/* line 88, ../sass/screen.scss */
.icon-container {
  font-size: 80px;
  transform: rotate(-25deg);
}

/* line 93, ../sass/screen.scss */
.header-text-container,
.icon-container {
  color: white;
}

/* line 101, ../sass/screen.scss */
.header-text-container {
  padding-left: 40px;
}
@media only screen and (min-width: 768px) {
  /* line 101, ../sass/screen.scss */
  .header-text-container {
    padding-left: 30px;
  }
}

/* line 109, ../sass/screen.scss */
.header-intro {
  margin-bottom: 20px;
}

/* line 113, ../sass/screen.scss */
.app-title {
  font-family: 'Kalam', cursive;
  margin-top: 0;
  vertical-align: top;
  margin-bottom: 0;
}
@media only screen and (min-width: 768px) {
  /* line 113, ../sass/screen.scss */
  .app-title {
    margin-bottom: 10px;
    font-size: 50px;
  }
}

@media only screen and (min-width: 768px) {
  /* line 125, ../sass/screen.scss */
  .app-description {
    font-size: 15px;
  }
}

/* line 130, ../sass/screen.scss */
.form-group {
  position: relative;
  clear: both;
}
/* line 134, ../sass/screen.scss */
.form-group .form-control {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* line 138, ../sass/screen.scss */
.form-group .icon-search {
  cursor: pointer;
  color: #2c45bd;
  font-size: 20px;
  line-height: 0;
  position: absolute;
  right: 15px;
  text-align: center;
  top: 50%;
  z-index: 1;
  animation: bounceIn 750ms linear infinite alternate;
  -moz-animation: bounceIn 750ms linear infinite alternate;
  -webkit-animation: bounceIn 750ms linear infinite alternate;
  -o-animation: bounceIn 750ms linear infinite alternate;
}

/* line 155, ../sass/screen.scss */
.search-result {
  position: relative;
  color: white;
  border: 1px solid white;
  padding: 10px;
  height: 250px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  /* line 155, ../sass/screen.scss */
  .search-result {
    height: 230px;
    padding: 20px;
  }
}

/* line 170, ../sass/screen.scss */
.restaurant-name {
  font-size: 36px;
}

/* line 174, ../sass/screen.scss */
.grade-info {
  margin-bottom: 25px;
}

/* line 178, ../sass/screen.scss */
.error-message {
  position: absolute;
  bottom: 30px;
  padding: 10px;
  font-size: 15px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #f93e11;
  max-width: 300px;
}
@media only screen and (min-width: 768px) {
  /* line 178, ../sass/screen.scss */
  .error-message {
    font-size: 18px;
    max-width: 100%;
  }
}

/* line 193, ../sass/screen.scss */
button.close {
  color: white;
  opacity: 1;
  font-size: 26px;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
/* line 199, ../sass/screen.scss */
button.close:focus, button.close:hover {
  color: #2c45bd;
  opacity: 1;
}

/* line 208, ../sass/screen.scss */
.loader {
  position: relative;
  width: 45px;
  height: 45px;
  margin: 40px auto;
  animation: spin 2s ease-in-out infinite;
}
/* line 214, ../sass/screen.scss */
.loader .bubble-1,
.loader .bubble-2 {
  position: absolute;
  top: 0;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  background-color: #2c45bd;
}
/* line 224, ../sass/screen.scss */
.loader .bubble-2 {
  top: auto;
  bottom: 0;
}
/* line 229, ../sass/screen.scss */
.loader .bubble-1, .loader .bubble-2 {
  animation: bounce 2s ease-in-out infinite;
}
/* line 233, ../sass/screen.scss */
.loader .bubble-2 {
  animation-delay: -1.0s;
}
@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes bounce {
  0%, 100% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
}
@font-face {
  font-family: 'icomoon';
  src: url("../../fonts/icomoon.eot?ik9qtw");
  src: url("../../fonts/icomoon.eot?ik9qtw#iefix") format("embedded-opentype"), url("../../fonts/icomoon.ttf?ik9qtw") format("truetype"), url("../../fonts/icomoon.woff?ik9qtw") format("woff"), url("../../fonts/icomoon.svg?ik9qtw#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 268, ../sass/screen.scss */
[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 283, ../sass/screen.scss */
.icon-restaurant-cutlery:before {
  content: "\e900";
}

/* line 287, ../sass/screen.scss */
.icon-search:before {
  content: "\e986";
}
